.side-menu {
    position: fixed;
    top: 0;
    right: -90%;
    width: 90%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    overflow-y: auto;
    z-index: 9002;
}

.side-menu-overlay {
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 9001;
}

.side-menu-overlay.open {
    display: block;
}

.side-menu.open {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    right: 0% !important;
}